  <!-- 右边区域---开始 -->
  <div class="templatemo-content col-1 light-gray-bg">
        <!-- 右边导航--开始 -->
        <div class="templatemo-top-nav-container">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="nav-icon 
                        glyphicon glyphicon-menu-hamburger"></i>
                    </div>
                  <nav class="templatemo-top-nav col-lg-12 col-xs-11">
                    <ul class="text-uppercase">
                      <li><a href="/#/message/home" data-route='home' class="active router-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">首页</font></font></a></li>
                      <li><a href="/#/message/select" data-route='select' class="router-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看信息</font></font></a></li>
                      <li><a href="/#/message/publish" data-route='publish' class="router-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发布信息</font></font></a></li>
                      <li class="change-password"><a href="/#/message/amendPwd" data-route='amendPwd' class="router-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改密码</font></font></a></li>
                      <li class="exit-btn"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退出登录</font></font></a></li>
                     
                     
                          
                     
                    </ul>  
                  </nav> 
                </div>
              </div>
            
        <!-- 右边导航---结束 -->
        <!-- 中间内容区域----开始 -->
              <div  class="templatemo-content-container " id="web-content" >
              
              </div>
        <!-- 中间内容区域-----结束 -->
        
      </div>
      <!-- 右边区域---结束 -->