    <!-- 侧边栏-----开始 -->
    <div class="templatemo-sidebar">
            <header class="templatemo-site-header" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
              <div class="square"></div>
              <h1 >XXX管理系统</h1>
            </header>
            <div class="profile-photo-container" >
              <img style="width: 300px;height: 215px;" src="/static/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">  
              <div class="profile-photo-overlay" ></div>
            </div>   

            <!-- Search box
            <form class="templatemo-search-form" role="search">
              <div class="input-group">
                 <i class="glyphicon glyphicon-search search-icon"></i>
                  <input type="text" class="form-control search-input" placeholder="查找" name="srch-term" id="srch-term">           
                <button type="button" class="btn btn-info search-button" id="search-button"> 搜索</button>
                </div>
            </form> -->

            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-left-nav">          
              <ul class="aside-nav" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                <li><a href="/#/message/account" data-route='account' class="active router-link"><i class="asider-icon glyphicon glyphicon-home"></i>用户列表</a></li>
                <li><a href="/#/message/select" data-route='select' class="router-link"><i class="asider-icon  glyphicon glyphicon-indent-left"></i>查看所有信息</a></li>
                <li><a href="/#/message/publish" data-route='publish' class="router-link"><i class="asider-icon glyphicon glyphicon-share"></i>发布信息</a></li>
                <li class="change-password"><a href="#" data-route='amendPwd' class="router-link"><i class="asider-icon glyphicon glyphicon-erase"></i>修改密码</a></li>
                <li class="exit-btn"><a href="#" ><i class="asider-icon glyphicon glyphicon-floppy-save"></i>退出登录 </a></li>
                <!-- <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
                <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
                <li><a href="login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li> -->
              </ul>  
            </nav>
          </div>
          <!-- 侧边栏-----结束 -->