     <!-- User Account: style can be found in dropdown.less -->
     <li class="user-click" style="list-style:none" >
        <div class="user-box">
          <img src="{{'http://localhost:3000' + info.avatar}}" class="user-image user-img1" alt="User Image" >
          <span class="hidden-xs ">{{info.username}}</span>
        </div>
        <ul class="user-info" data-type="true">
          <!-- User image -->
          <li class="user-header" >
            <img src="{{'http://localhost:3000' + info.avatar}}" class="img-circle" alt="User Image" >

            <p >
              {{info.username}}
            </p>
          </li>
          <div class="user-center"></div>
          <!-- Menu Footer-->
          <li class="user-footer">
            <!-- <div class="pull-left">
              <a class="btn btn-default btn-flat">设置</a>
            </div> -->
            <div class="pull-right">
              <a  class="btn btn-info btn-flat exit-btn" style="border-radius:10px">退出</a>
            </div>
            <div class="pull-left">
                <a  class="btn btn-info btn-flat exit-btn" style="border-radius:10px">设置</a>
              </div>
          </li>
        </ul>
      </li>